<?xml version="1.0" encoding="utf-8" ?>
<ngin>
  <modules>
    <module name="core" type="NGin.Core.Configuration.Modules.CoreModule">
      <sections>
        <section name="logging">
          <data>
            <!-- For debugging purposes set to: <log4net threshold="ALL" > -->
            <log4net threshold="ALL" >
              <!-- root logger -->
              <root>
                <level value="WARN" />
                <!--UNCOMMENT ON WINDOWS SYSTEM-->
                <appender-ref ref="WinConsoleAppender" />
                <!--UNCOMMENT ON UNIX SYSTEMS-->
                <!--<appender-ref ref="AnsiConsoleAppender" />-->
                <!--UNCOMMENT FOR FILE OUTPUT-->
                <appender-ref ref="LogFileAppender" />
              </root>
              
              <!-- custom loggers -->
              <logger name="NGin.Core.Configuration.Modules">
                <level value="WARN"/>                
              </logger>
              <logger name="NGin.Core.Configuration">
                <level value="WARN"/>                
              </logger>
              <logger name="NGin.Core.Scene">
                <level value="WARN"/>
              </logger>
              <logger name="NGin.Core.Systems">
                <level value="DEBUG" />
              </logger>
              <logger name="NGin.Core">
                <level value="WARN"/>
              </logger>
              <logger name="NGin.Core.Tasks">
                <level value="WARN"/>
              </logger>
              <logger name="NGin.Core.Performance">
                <level value="DEBUG"/>
              </logger>
              
              <!-- appenders -->
              <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
                <file value="ngin.core.log" />
                <appendToFile value="true" />
                <rollingStyle value="Size" />
                <maxSizeRollBackups value="10" />
                <maximumFileSize value="1MB" />
                <staticLogFileName value="true" />
                <layout type="log4net.Layout.PatternLayout">
                  <param name="Header" type="log4net.Util.PatternString" value="**************************************************%newline***** SESSION START: %date *****%newline%newline"/>
                  <param name="Footer" type="log4net.Util.PatternString" value="***** SESSION END:   %date *****%newline**************************************************%newline%newline"/>
                  <!--<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] ::%X{auth}:: - %m%n"/>-->
                  <conversionPattern value="%d [%-5level] %logger tid:%thread %newline%message%newline%newline" />
                </layout>
                <!--<filter type="log4net.Filter.LevelRangeFilter">
                  <param name="LevelMin" value="DEBUG" />
                  <param name="LevelMax" value="FATAL" />
                </filter>-->
              </appender>
              <!-- use this with unix versions of log4net fo colored output -->
              <appender name="AnsiConsoleAppender" type="log4net.Appender.AnsiColorTerminalAppender">
                <mapping>
                  <level value="FATAL" />
                  <foreColor value="Red" />
                  <backColor value="White" />
                </mapping>
                <mapping>
                  <level value="ERROR" />
                  <foreColor value="Red" />
                </mapping>
                <mapping>
                  <level value="WARN" />
                  <foreColor value="Yellow" />
                </mapping>
                <mapping>
                  <level value="INFO" />
                  <foreColor value="Cyan" />
                </mapping>
                <mapping>
                  <level value="DEBUG" />
                  <foreColor value="Green" />
                </mapping>                
                <layout type="log4net.Layout.PatternLayout">
                  <conversionPattern value="%d [%-5level] %logger tid:%thread %newline%message%newline%newline" />
                </layout>
              </appender>
              <!-- use this with Win32 version of log4net fo colored output -->
              <appender name="WinConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
                <mapping>
                  <level value="FATAL" />
                  <foreColor value="Red" />
                  <backColor value="White" />                  
                </mapping>
                <mapping>
                  <level value="ERROR" />
                  <foreColor value="Red, HighIntensity" />                  
                </mapping>
                <mapping>
                  <level value="WARN" />
                  <foreColor value="Yellow" />                  
                </mapping>
                <mapping>
                  <level value="INFO" />
                  <foreColor value="Cyan" />                  
                </mapping>
                <mapping>
                  <level value="DEBUG" />
                  <foreColor value="Green" />
                </mapping>              
                <layout type="log4net.Layout.PatternLayout">
                  <conversionPattern value="%d [%-5level] %logger tid:%thread %newline%message%newline%newline" />
                </layout>
              </appender>
              
            </log4net>
          </data>
        </section>
        <section name="plugins" datatype="NGin.Core.Configuration.Serialization.PluginsConfigXml">
          <data>
            <pluginconfig>
              <plugins>
                <file location="." filename="ngin.core.dll" />
                <file location="." filename="NGin.Core.Test.Performance.exe" />
              </plugins>
            </pluginconfig>
          </data>
        </section>
        <section name="dependencies" datatype="NGin.Core.Configuration.Serialization.DependenciesConfigXml">
          <data>
            <dependencyconfig>
              <dependencies>
                <directory location="../dependencies" recurse="true"/>
              </dependencies>
            </dependencyconfig>
          </data>
        </section>
      </sections>
    </module>
    <module name="services" type="NGin.Core.Configuration.Modules.ServicesModule">
      <sections>
      </sections>
    </module>
    <module name="scene" type="NGin.Core.Configuration.Modules.SceneModule">
      <sections>
      </sections>
    </module>
  </modules>
</ngin>