<?xml version="1.0" encoding="utf-8" ?>
<ngin>
  <modules>
    <module name="core" type="NGin.Core.Configuration.Modules.CoreModule">
      <sections>
        <section name="logging">
          <data>
            <log4net>
              <logger name="ngin.core.test">
                <level value="DEBUG"/>
              </logger>
              <root>
                <appender-ref ref="LogFileAppender" />
                <appender-ref ref="ConsoleAppender" />
              </root>
              <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
              </appender>
              <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
              </appender>
            </log4net>
          </data>
        </section>
        <section name="plugins" datatype="NGin.Core.Configuration.Serialization.PluginsConfigXml">
          <data>
            <pluginconfig>
              <plugins>
                <file location="." filename="ngin.core.dll" />
              </plugins>
            </pluginconfig>
          </data>
        </section>
        <section name="dependencies" datatype="NGin.Core.Configuration.Serialization.DependenciesConfigXml">
          <data>
            <dependencyconfig>
              <dependencies>
                <directory location="../dependencies" />
              </dependencies>
            </dependencyconfig>
          </data>
        </section>
      </sections>
    </module>
    <module name="systems" type="NGin.Core.Configuration.Modules.SystemsModule">
      <sections>
      </sections>
    </module>
  </modules>
</ngin>